name: Deploy (S3 + CloudFront)

on:
  push:
    branches: ["main"]

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  S3_BUCKET: ecomdemostaticsitestack-sitebucket397a1860-qxtdjhoerp3j
  CLOUDFRONT_DISTRIBUTION_ID: ESWYAMMOAF38J
  SITE_DIR: site

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::425526158107:role/ecomdemo-gha-deploy
          aws-region: ${{ env.AWS_REGION }}

      - name: Sync site to S3
        run: |
          aws s3 sync "${{ env.SITE_DIR }}" "s3://${{ env.S3_BUCKET }}/" --delete

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id "${{ env.CLOUDFRONT_DISTRIBUTION_ID }}" \
            --paths "/*"
